@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

#pokemon {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container {
  height: 200px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #000;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

img {
  width: 200px;
}

p {
  font-size: 1rem;
  color: #ffffff;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99;
}

button:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}
